.env*
!.env.example
*/**/node_modules
/.idea/
/data-scraping/handbooks/*/*/data/**
!/data-scraping/handbooks/*/*/data/.gitkeep
!/data-scraping/handbooks/*/*/data/snapshots
!/data-scraping/handbooks/*/*/data/snapshots/**